<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>

    <a href="/">Home Page</a>
    <a href="/login">Log in</a>
    <a href="/logon">Register</a>
    <a href="/profile">Profile</a>
    <a href="/api/session/logout">Log out</a>
    <a href=""></a>

    {{{body}}}
</body>
</html>